html {
	font-family: sans-serif;
}

body, html, main {
	font-size: 120%;
	height: 100%;
	margin: 0;
	padding: 0;
}

main.work {
	background: #E54B4B;
	color: #FFFFFF;
}

main.rest {
	background: #F9F7E8;
	color: #62BFAD;
}

main > div {
	height: 50%;
	line-height: 50vh;
	text-align: center;
}

h1 {
	margin: 0;
	text-transform: uppercase;
}
